<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
    {{ HEAD }}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: ['Montserrat:400,500,600,700,800,900'],
        },
      })
    </script>
    <!--[if lt IE 9
      ]><script
        src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
        type="text/javascript"
      ></script
    ><![endif]-->
    <script type="text/javascript">
      !(function (o, c) {
        var n = c.documentElement,
          t = ' w-mod-'
        ;(n.className += t + 'js'),
          ('ontouchstart' in o ||
            (o.DocumentTouch && c instanceof DocumentTouch)) &&
            (n.className += t + 'touch')
      })(window, document)
    </script>
    <!-- Google Analytics - Global Site Tag (gtag.js) -->
    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=UA-126699688-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'UA-126699688-1')

      const gambitGalleryIsInView = (el) => {
        const scroll = window.scrollY || window.pageYOffset
        const boundsTop = el.getBoundingClientRect().top + scroll

        const viewport = {
          top: scroll,
          bottom: scroll + window.innerHeight,
        }

        const bounds = {
          top: boundsTop,
          bottom: boundsTop + el.clientHeight,
        }

        return (
          (bounds.bottom >= viewport.top && bounds.bottom <= viewport.bottom) ||
          (bounds.top <= viewport.bottom && bounds.top >= viewport.top)
        )
      }

      // requestAnimationFrame
      const raf =
        window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        function (callback) {
          window.setTimeout(callback, 1000 / 60)
        }

      document.addEventListener('DOMContentLoaded', () => {
        const hero = document.querySelector('.oc-hero-block')
        const mock1 = document.querySelector('.oc-row.mock-1-block')
        const mock2 = document.querySelector('.oc-row.mock-2-block')
        const mock3 = document.querySelector('.oc-row.mock-3-block')
        const mood = document.querySelector('.oc-row.r-mood')
        const team = document.querySelector('.oc-row.our-team')
        const footer = document.querySelector('.oc-row.footer')

        const handler = () =>
          raf(() => {
            if (gambitGalleryIsInView(hero)) {
              gtag('event', 'view', {
                event_category: 'screen_view',
                event_label: 'screen-view_hero',
              })
            }

            if (gambitGalleryIsInView(mock1)) {
              gtag('event', 'view', {
                event_category: 'screen_view',
                event_label: 'screen-view_mock-together',
              })
            }

            if (gambitGalleryIsInView(mock2)) {
              gtag('event', 'view', {
                event_category: 'screen_view',
                event_label: 'screen-view_mock-app',
              })
            }

            if (gambitGalleryIsInView(mock3)) {
              gtag('event', 'view', {
                event_category: 'screen_view',
                event_label: 'screen-view_mock-future',
              })
            }

            if (gambitGalleryIsInView(mood)) {
              gtag('event', 'view', {
                event_category: 'screen_view',
                event_label: 'screen-view_mood',
              })
            }

            if (gambitGalleryIsInView(team)) {
              gtag('event', 'view', {
                event_category: 'screen_view',
                event_label: 'screen-view_team',
              })
            }

            if (gambitGalleryIsInView(footer)) {
              gtag('event', 'view', {
                event_category: 'screen_view',
                event_label: 'screen-view_finale',
              })
            }
          })

        handler()
        window.addEventListener('scroll', handler)
      })
    </script>
    <!-- End Google Analytics -->
  </head>
  <body {{ BODY_ATTRS }} ref="body" id="body">
    {{ APP }}

    <script
      src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js"
      type="text/javascript"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/js/frontlib.js" type="text/javascript"></script>
    <script type="text/javascript">
      function jqUpdateSize() {
        var height = $(window).height()

        $('#hero').css('max-height', height)
        $('#popup').css('max-height', height * 0.01 * 92)
      }
      $(document).ready(function () {
        jqUpdateSize()
        $(window).resize(function () {
          jqUpdateSize()
        })
      })
    </script>
    <!--[if lte IE 9
      ]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script
    ><![endif]-->

    <!-- ScheduleOnce button START -->
    <script
      type="text/javascript"
      src="https://cdn.oncehub.com/mergedjs/so.js"
    ></script>
    <!-- ScheduleOnce button END -->
    <script>
      var tag = document.createElement('script')
      tag.src = 'https://www.youtube.com/iframe_api'
      var firstScriptTag = document.getElementsByTagName('script')[0]
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)

      var player
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '100%',
          width: '100%',
          videoId: '_xKCwzgI68s',
          events: {
            onReady: onPlayerReady,
            onStateChange: onPlayerStateChange,
          },
        })
      }

      function onPlayerReady(event) {
        //event.target.playVideo();
      }

      var done = false
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          //setTimeout(stopVideo, 6000)
          done = true
        }
      }
      function stopVideo() {
        player.stopVideo()
      }

      $('#wVideo').click(() => {
        setTimeout(() => {
          player.playVideo()
        }, 9390)
      })

      $('#SOIBTN_ApplyIntroChats').click(() => {
        player.pauseVideo()
      })

      $('#SOIC_ApplyIntroChats').click(() => {
        player.playVideo()
      })
    </script>
  </body>
</html>
