/* ==========================================================================
   Otium Circle CSS
   ========================================================================== */

/*
** Nuxt related styling.
*/
#__nuxt {
  width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*
** Otuim Circle styling.
*/

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: Montserrat, sans-serif;
  font-size: 1.5vh;
  line-height: 1.5vh;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

.oc-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

/* Custom Typography */
.oc-title-1 {
  color: #251849;
  font-size: 58px;
  line-height: 64px;
  font-size: 5.5vh;
  line-height: 6.5vh;
  font-weight: 900;
}

.oc-title-1.m {
  text-align: center;
}

.oc-title-1.m.r-m {
  margin-top: 0px;
  margin-right: 2vh;
}

.oc-title-1.explore {
  margin-bottom: -1%;
  border: 6px solid #fc0;
  color: #fff;
  font-size: 24vh;
  line-height: 24vh;
}

.oc-title-2 {
  margin-top: 55px;
  color: #251849;
  font-size: 4.7vh;
  line-height: 5.5vh;
  font-weight: 800;
}

.oc-c-h2 {
  margin-top: -17%;
  color: #251849;
  font-size: 3.6vh;
  line-height: 4.5vh;
  font-weight: 800;
}

.oc-c-h2.c-1 {
  margin-top: -24%;
}

.oc-c-h2.f-git {
  margin-top: 0%;
}

.oc-c-p {
  width: 40%;
  color: #251849;
  font-size: 3vh;
  line-height: 3.8vh;
}

.oc-hero-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c2c2c2;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.oc-header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-brand {
  height: 8vh;
}

/* Navigation */
.oc-nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 149px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vh;
  background-color: #251849;
}

.oc-nav-item {
  color: #fff;
  font-size: 1.9vh;
  padding: 0px;
  cursor: pointer;
}

.oc-nav-item.selected {
  color: #fc0;
}

.oc-nav-divider {
  width: 1px;
  height: 30%;
  margin-right: 1vh;
  margin-left: 1vh;
  background-color: #fff;
}

.oc-wel-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 25vh;
  z-index: 8000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.oc-highlight-orange {
  color: #fc0;
}

.oc-highlight-pink {
  color: #ec0084;
}

.oc-highlight-purple {
  color: #ce1c8b;
}

.oc-hero-btns-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-app-d-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18vh;
  height: 5vh;
  margin-right: 30px;
  padding: 6px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vh;
  background-color: #251849;
  cursor: pointer;
}

.oc-app-d-btn:hover {
  background-color: #412e74;
}

.oc-btn-icon {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: 10px;
}

.oc-btn-icon.no-m {
  margin-right: 0px;
}

.oc-btn-txt {
  color: #fff;
  font-size: 1.7vh;
  font-weight: 500;
}

.oc-btn-txt.visit-txt {
  color: #333;
  font-weight: 700;
}

/* Rows Sections */
.oc-row {
  width: 80%;
}

.oc-row.mock-1-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6vh;
  margin-bottom: 40px;
  padding-top: 139px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.oc-row.mock-2-block,
.oc-row.mock-3-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 72vh;
  margin-bottom: 40px;
  padding-top: 139px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.oc-row.mock-3-block {
  margin-top: 80vh;
}

.oc-row.r-mood {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 96vh;
  margin-top: 65vh;
  padding: 3% 7% 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c2c2c2;
  background-position: 50% 14%;
  background-size: cover;
  background-repeat: no-repeat;
}

.oc-row.our-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 25vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-row.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 96vh;
  margin-top: 25vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c2c2c2;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.oc-mockup {
  width: 45%;
  margin-top: -18vh;
  margin-right: 5vh;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5);
}

.oc-mock-1-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.oc-moods-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: -60px;
  margin-bottom: 5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  z-index: 8000;
}

.oc-mood {
  overflow: hidden;
  width: 30vh;
  height: 20vh;
  margin: 2vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #c2c2c2;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.oc-mood-txt {
  color: #fff;
  font-size: 2.5vh;
  line-height: 3vh;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px 6px #000;
}

.oc-mood-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.oc-mood-overlay:hover {
  background-color: rgba(39, 30, 73, 0.67);
}

.oc-team-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-team-carousel-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.oc-member-cover {
  width: 33vh;
  height: 44vh;
  margin: 2vh;
  border-radius: 1vh;
  background-color: #c2c2c2;
  background-color: #c2c2c2;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  list-style-type: none;
}

.oc-team-carousel-parent {
  width: 100%;
}

.v-btn--outlined .v-btn__content .v-icon,
.v-btn--round .v-btn__content .v-icon {
  color: #000;
}

.v-carousel {
  height: auto;
  overflow: auto;
}

.v-carousel .v-window-item {
  width: 100%;
  height: 48vh;
}

.active {
  opacity: 1;
}

.oc-m-foreground {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2vh;
  border-radius: 1vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(39, 30, 73, 0.67);
  color: white;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.oc-m-foreground:hover {
  opacity: 1;
}

.oc-m-foreground h3 {
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  font-size: 1.9vh;
  line-height: 1.9vh;
  text-align: center;
}

.oc-m-foreground .role-t {
  margin-bottom: 1vh;
  font-size: 1.8vh;
  line-height: 2.4vh;
  font-weight: 600;
  text-align: center;
}

.oc-m-foreground .info-t {
  font-weight: 600;
  line-height: 2.2vh;
  padding: 1.4vh;
  text-align: center;
  margin-bottom: 2vh;
  border-radius: 100vh;
  color: #fff;
  word-break: break-all;
}

.oc-m-foreground .info-t.m {
  display: none;
  font-weight: 600;
  line-height: 2.2vh;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1.4vh;
  padding-right: 1.4vh;
  text-align: center;
  border-radius: 100vh;
  background-color: #fff;
  color: #000;
}

.oc-footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.oc-footer-mid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.oc-social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.oc-git-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  width: auto;
  height: 5vh;
  margin-right: 3vh;
  padding-right: 4vh;
  padding-left: 4vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vh;
  background-color: #251849;
  cursor: pointer;
}

.oc-git-btn.m {
  height: 5vh;
}

.oc-git-btn.d {
  display: flex;
  margin-right: 0vh;
}

.oc-git-btn:hover {
  background-color: #412e74;
}

.oc-git-btn.visit {
  display: flex;
  width: 20vh;
  background-color: #fff;
  margin-right: 0vh;
}

.oc-social-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5vh;
  height: 5vh;
  margin-left: 3vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #251849;
  cursor: pointer;
}

.oc-social-btn:hover {
  background-color: #412e74;
}

.oc-contact-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 76vh;
  height: 40vh;
  margin-top: 5vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2vh;
  background-color: #fff;
}

.oc-contact-card.m {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background-color: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-map {
  width: 40%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.oc-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.oc-form.m {
  padding: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-form-el-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.oc-field-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 2vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-field-wrapper.message {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.oc-field-label {
  font-size: 2vh;
}

.oc-field-label.m-left {
  margin-left: 3vh;
}

.oc-text-field {
  margin-bottom: 0px;
  margin-left: 2vh;
  border-style: none none solid;
  border-width: 1px 1px 0.3vh;
  border-color: #000 #000 #a8a8a8;
  font-size: 2vh;
  font-weight: 500;
  color: #000;
}

.oc-text-field.m {
  width: 100%;
  margin-bottom: 3vh;
  margin-left: 0vh;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
}

.oc-textarea {
  margin-left: 2vh;
  padding-top: 0px;
  border-style: none none solid;
  border-width: 1px 1px 0.3vh;
  border-color: #000 #000 #a8a8a8;
  font-size: 2vh;
  font-weight: 500;
  color: #000;
}

.oc-textarea.m {
  height: 22vh;
  margin-bottom: 6vh;
  margin-left: 0vh;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
}

.oc-submit-btn {
  height: 6vh;
  padding-right: 3vh;
  padding-left: 3vh;
  border-radius: 7vh;
  background-color: #251849;
  font-weight: 700;
}

.oc-submit-btn:hover {
  background-color: #412e74;
}

.oc-form-brand {
  width: 14vh;
  margin-bottom: 2vh;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.oc-form-brand.m {
  width: auto;
  height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.oc-click-hint {
  color: #fff;
  font-size: 1.6vh;
  font-weight: 700;
  margin-top: 0vh;
}

.oc-popup-scroll-indicator-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999999999999;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-popup {
  margin: 12vh auto;
  padding: 2%;
  background: #271e49;
  color: white;
  max-width: 100%;
  width: 35%;
  max-height: 100%;
  margin: 10vh;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 5s ease-in-out;
  box-shadow: 7px 7px 26px 0 rgba(0, 0, 0, 0.26);
}

.oc-popup .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-popup .top h3 {
  margin-top: 0;
  margin-right: 12%;
  font-size: 2.2vh;
  color: #fc0;
}

.oc-popup .top .close {
  margin-bottom: 0vh;
  transition: all 200ms;
  font-size: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-right: -0.7vh;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.oc-popup .top .close:hover {
  color: #06d85f;
}

.oc-popup .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 91%;
  margin-top: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

.oc-popup .content::-webkit-scrollbar {
  width: 0.8vh;
  height: 0.8vh;
}

.oc-popup .content::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10vh;
  margin-right: 1vh;
}

.oc-popup .content::-webkit-scrollbar-track {
  background: transparent;
}

.oc-partners-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.oc-partner {
  height: 6vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-right: 4.5vh;
  flex-shrink: 0;
  cursor: pointer;
}

.oc-about-partner-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.back-title,
.oc-about-partner-block .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-title {
  width: 100%;
}

.back-title h3 {
  margin-top: 0;
  margin-bottom: 0px;
  margin-right: 12%;
  font-size: 2.2vh;
}

.oc-about-partner-block .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 1vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.oc-arrow-back {
  width: 1.6vh;
  margin-right: 4vh;
  cursor: pointer;
}

.oc-partner-cover {
  width: 100%;
  height: 28vh;
  margin-top: 0vh;
  margin-bottom: 4vh;
  background-color: #c2c2c2;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.oc-partner-txt {
  width: 100%;
  margin-bottom: 6vh;
  color: #fff;
  font-size: 1.8vh;
  line-height: 2.5vh;
}

.oc-contact-card-m {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999999999;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f7;
}

.oc-mf-close {
  margin-top: 2vh;
  margin-bottom: 4vh;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #000;
  font-size: 64px;
}

.oc-scroll-down-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7vh;
  height: 7vh;
  margin-top: 16vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #251849;
  cursor: pointer;
  z-index: 8000;
}

.oc-scroll-down-wrapper.sm {
  margin-top: -10vh;
  background-color: rgb(221, 177, 1);
}

.oc-anim-o {
  font-size: 2.5vh;
  line-height: 2.5vh;
  font-weight: 700;
  text-align: center;
}

.lottie-animation {
  width: 20vh;
}

.lottie-animation.scroll-down {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.oc-popup-divider {
  width: 92%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.356);
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.oc-what-mood {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  margin-top: 4vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-explore-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*--------------------------------------------------------*/
/* Social Styles */

.oc-social-vid-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-video-wrapper {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: none;
  background-color: #000;
}

.oc-video-wrapper.alt {
  width: 100%;
  height: 100vh;
}

.oc-youtube {
  z-index: 0;
  height: 100%;
  width: 100%;
}

.oc-before-vid {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.oc-before-vid.alt {
  width: 100%;
}

.oc-social-description {
  position: absolute;
  color: #fff;
  text-align: center;
}

.oc-social-btns-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.oc-app-d-btn.social {
  width: 26vh;
  margin-left: 30px;
  text-align: center;
}

.oc-app-d-btn.social.alt {
  display: none;
  margin-top: 34px;
}

.oc-social-btn-dash {
  width: 40px;
  height: 6px;
  border-radius: 100px;
  background-color: #ffb30f;
}

.oc-booking-c-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #fff;
}

.oc-pointers {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8vh;
  font-weight: 500;
}

.oc-pointers.alt-1 {
  margin-top: 40px;
  margin-bottom: 0px;
  font-weight: 500;
}

.oc-pointers.bold {
  font-weight: 700;
}

/*--------------------------------------------------------*/
/* Breakpoints */

/* 991px and below */
@media (max-width: 991px) {
  .oc-nav-bar {
    display: none;
  }
  .oc-wel-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .oc-title-1 {
    text-align: center;
    font-size: 38px;
    line-height: 44px;
    font-size: 4.5vh;
    line-height: 4.5vh;
  }
  .oc-title-1.m {
    color: #251849;
  }
  .oc-title-1.ot-txt {
    color: #251849;
    text-align: left;
  }
  .oc-title-1.explore {
    margin-bottom: 0%;
    font-size: 16vh;
    line-height: 16vh;
  }
  .oc-app-d-btn {
    margin-right: 15px;
    margin-left: 15px;
  }
  .oc-row.mock-1-block {
    margin-top: 0vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .oc-row.mock-2-block,
  .oc-row.mock-3-block {
    margin-top: 18vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .oc-row.r-mood {
    height: 100vh;
    margin-top: 17.29vh;
  }
  .oc-mockup {
    width: 100%;
    margin-top: 54px;
    margin-right: 2vh;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .oc-title-2 {
    margin-bottom: 61px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .oc-c-h2 {
    margin-top: 48%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .oc-c-h2.f-git {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .oc-c-h2.c-1 {
    margin-top: 49%;
  }
  .oc-c-p {
    width: 80%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
  }
  .oc-moods-blocks {
    margin-bottom: 3vh;
  }
  .oc-mood {
    width: 40%;
    height: 22vh;
    margin: 10px;
  }
  .oc-team-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .oc-row.footer {
    height: 100vh;
  }
  .oc-footer-top {
    margin-top: 0vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .oc-footer-mid {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .oc-social-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .oc-git-btn {
    margin: 1.5vh;
  }
  .oc-git-btn.visit {
    margin-left: 0vh;
  }
  .oc-social-btn {
    margin: 1.5vh;
  }
  .oc-popup {
    width: 80%;
    max-height: 90%;
    margin-top: 10%;
    margin-left: 6vh;
    margin-right: 6vh;
    padding: 4%;
  }
  .oc-arrow-back {
    width: 1.6vh;
  }
  .oc-text-field.m,
  .oc-textarea.m {
    font-size: 20px;
  }
  .oc-git-btn.m {
    margin-bottom: 0vh;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .oc-btn-txt.m {
    font-size: 15px;
  }
  .oc-what-mood {
    width: 70%;
  }
  .oc-popup-scroll-indicator-wrapper {
    display: flex;
  }

  /* Social Styles */
  .oc-video-wrapper.alt {
    height: auto;
  }
  .oc-app-d-btn.social {
    margin-left: 15px;
  }
  .oc-booking-c-wrapper {
    width: 70%;
  }
}

/* 767px and below */
@media (max-width: 767px) {
  .oc-row.mock-1-block,
  .oc-row.mock-2-block,
  .oc-row.mock-3-block {
    width: 90%;
  }
  .oc-row.r-mood {
    padding-right: 2%;
    padding-left: 2%;
  }
  .oc-mockup {
    width: 100%;
  }
  .oc-title-1.m {
    font-size: 3.5vh;
    line-height: 3.8vh;
  }
  .oc-title-1.ot-txt {
    margin-bottom: 8vh;
    text-align: center;
  }
  .oc-title-1.explore {
    margin-bottom: 1%;
    font-size: 14vh;
    line-height: 14vh;
  }
  .oc-title-2 {
    margin-top: -20%;
    font-size: 3.7vh;
    line-height: 4.5vh;
  }
  .oc-c-h2 {
    font-size: 3.2vh;
    line-height: 4.2vh;
  }
  .oc-c-h2.f-git {
    color: #f7f7f7;
    font-size: 4.2vh;
  }
  .oc-c-p {
    width: 100%;
    font-size: 2.6vh;
    line-height: 3.6vh;
  }
  .oc-member-cover {
    width: 18vh;
    height: 26vh;
  }
  .oc-git-btn {
    display: flex;
  }
  .oc-contact-card {
    width: 100%;
    height: auto;
    display: none;
  }
  .oc-contact-card.m {
    display: flex;
  }
  .oc-map {
    display: none;
  }
  .oc-form {
    width: 90%;
  }
  .oc-popup {
    width: 90%;
    height: 100%;
    max-height: 92%;
    margin-top: 5%;
    margin-bottom: 20%;
  }
  .oc-popup .top .close {
    margin-right: -0.6vh;
  }
  .oc-popup .content {
    max-height: 92%;
  }
  .oc-m-foreground .info-t.m {
    display: block;
  }
  .oc-m-foreground .info-t {
    display: none;
  }
  .oc-what-mood {
    width: 90%;
  }

  /* Social Styles */
  .oc-video-wrapper {
    width: 500px;
    height: 500px;
  }
  .oc-social-description {
    font-size: 24px;
  }
  .oc-social-btns-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .oc-social-btn-dash {
    width: 6px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .oc-booking-c-wrapper {
    width: 90%;
  }
}

@media (max-width: 479px) {
  .oc-title-1.explore {
    margin-bottom: 10%;
    font-size: 9vh;
    line-height: 9vh;
  }
  .oc-partner-cover {
    width: 100%;
    height: 20vh;
  }
  .oc-partner-txt {
    width: 100%;
  }

  /* Social Styles */
  .oc-video-wrapper {
    width: 90vw;
    height: 90vw;
  }
}
