<template>
  <div class="oc-container">
    <section
      id="hero"
      class="oc-hero-block"
      :style="{
        'background-image':
          'url(' + getImgUrl(`home_screen_background.jpg`) + ')',
      }"
    >
      <header class="oc-header">
        <img
          :src="getImgUrl(`otium-circle.png`)"
          sizes="161.453125px"
          alt="otium_circle_brand"
          class="oc-brand"
        />
      </header>
      <div class="oc-social-vid-wrapper">
        <div
          data-w-id="36d5010b-4745-1f67-039e-bfff1809fe9c"
          class="oc-video-wrapper"
        >
          <div
            id="w-node-bfff1809fe9d-96e80009"
            data-w-id="36d5010b-4745-1f67-039e-bfff1809fe9d"
            class="w-embed-youtubevideo oc-youtube"
          >
            <div
              id="player"
              src="https://www.youtube-nocookie.com/embed/_xKCwzgI68s?rel=1&amp;controls=0&amp;autoplay=0&amp;mute=0&amp;start=0"
              frameborder="0"
              style="
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: auto;
              "
              allow="autoplay; encrypted-media"
              allowfullscreen=""
            ></div>
          </div>
          <div
            data-w-id="36d5010b-4745-1f67-039e-bfff1809fe9e"
            class="oc-before-vid"
          >
            <h1
              data-w-id="36d5010b-4745-1f67-039e-bfff1809fe9f"
              class="oc-social-description"
            >
              EXCLUSIVE
            </h1>
            <h1
              data-w-id="36d5010b-4745-1f67-039e-bfff1809fea1"
              class="oc-social-description"
            >
              Let&#x27;s meet Pascal Pieper<br />CEO of Otium Circle
            </h1>
            <h1
              data-w-id="36d5010b-4745-1f67-039e-bfff1809fea5"
              class="oc-social-description"
            >
              How can our community<br />help your business?
            </h1>
            <h1
              data-w-id="36d5010b-4745-1f67-039e-bfff1809fea7"
              class="oc-social-description"
            >
              What is Otium Circle?
            </h1>
          </div>
        </div>
        <div
          data-w-id="36d5010b-4745-1f67-039e-bfff1809fea9"
          class="oc-social-btns-wrapper"
        >
          <div
            id="wVideo"
            data-w-id="36d5010b-4745-1f67-039e-bfff1809feaa"
            class="oc-app-d-btn social"
          >
            <div class="oc-btn-txt">Watch Video</div>
          </div>
          <div
            data-w-id="36d5010b-4745-1f67-039e-bfff1809fead"
            class="oc-social-btn-dash"
          ></div>
          <button
            id="SOIBTN_ApplyIntroChats"
            data-w-id="36d5010b-4745-1f67-039e-bfff1809feae"
            class="oc-app-d-btn social"
            data-height="580"
            data-psz="00"
            data-so-page="ApplyIntroChats"
            data-delay="1"
          >
            <div class="oc-btn-txt">Apply</div>
          </button>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  mounted() {},
  methods: {
    getImgUrl(pic) {
      return require('../assets/img/' + pic)
    },
  },
  head() {
    return {
      htmlAttrs: {
        'data-wf-page': '5f4f6d453086fef896e80009',
        'data-wf-site': '5dbb4191cdb0cf4042b10061',
      },
      title: 'Schedule A Meeting - Otium Circle',
    }
  },
}
</script>

<style scoped>
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea7'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9d'] {
    width: 0%;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9c'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea9'] {
    -webkit-transform: translate3d(0, -334px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -334px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -334px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -334px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fead'] {
    width: 100px;
    height: 6px;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea5'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea1'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9f'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea7'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9d'] {
    width: 0%;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9c'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea9'] {
    -webkit-transform: translate3d(0, -334px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -334px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -334px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -334px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fead'] {
    width: 100px;
    height: 6px;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea5'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea1'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9f'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea7'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9d'] {
    width: 0%;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9c'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea9'] {
    -webkit-transform: translate3d(0, -134px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -134px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -134px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -134px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fead'] {
    width: 6px;
    height: 60px;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea5'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea1'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9f'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
}
@media (max-width: 479px) {
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea7'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9d'] {
    width: 0%;
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9c'] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea9'] {
    -webkit-transform: translate3d(0, -134px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, -134px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, -134px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, -134px, 500px) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform-style: preserve-3d;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fead'] {
    width: 6px;
    height: 60px;
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea5'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fea1'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix)
    [data-w-id='36d5010b-4745-1f67-039e-bfff1809fe9f'] {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0)
      rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
}
</style>
