<template>
  <div class="oc-container">
    <section
      id="hero"
      class="oc-hero-block"
      :style="{
        'background-image':
          'url(' + getImgUrl(`home_screen_background.jpg`) + ')',
      }"
    >
      <header class="oc-header">
        <img
          :src="getImgUrl(`otium-circle.png`)"
          sizes="161.453125px"
          alt="otium_circle_brand"
          class="oc-brand"
        />
      </header>
      <div class="oc-booking-c-wrapper">
        <h4 class="oc-pointers">
          Hi {{ name }}, the Zoom details have been emailed to you.
        </h4>
        <h4 class="oc-pointers">In the Zoom call, we look forward to:</h4>
        <div class="oc-pointers bold">- Introducing ourselves</div>
        <div class="oc-pointers bold">- Discussing any of your questions</div>
        <div class="oc-pointers bold">
          - Understanding your business objectives
        </div>
        <h4 class="oc-pointers alt-1">
          In the meantime please check out our community of businesses on our
          website
          <a href="https://www.otiumcircle.com/" target="_blank"><b>here</b></a
          >, or on our
          <a
            href="https://itunes.apple.com/gb/app/simpleinapps/id1358702776?mt=8"
            target="_blank"
            ><b>iOS</b></a
          >
          or
          <a
            href="https://play.google.com/store/apps/details?id=com.simpleinapps.android"
            target="_blank"
            ><b>Android</b></a
          >
          apps where you can also message us.
        </h4>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: '',
    }
  },
  mounted() {
    this.unscapeName()
  },
  methods: {
    getImgUrl(pic) {
      return require('../assets/img/' + pic)
    },
    getUrlVars() {
      const vars = []
      let hash
      const hashes = window.location.href
        .slice(window.location.href.indexOf('?') + 1)
        .split('&')
      for (let i = 0; i < hashes.length; i++) {
        hash = hashes[i].split('=')
        vars.push(hash[0])
        vars[hash[0]] = hash[1]
      }
      return vars
    },
    unscapeName() {
      if (process.client) {
        this.name = unescape(this.getUrlVars().Name)
      }
    },
  },
  head() {
    return {
      title: 'Booking Confirmation - Otium Circle',
    }
  },
}
</script>
