<template>
  <div class="oc-container">
    <section
      id="hero"
      class="oc-hero-block"
      :style="{
        'background-image':
          'url(' + getImgUrl(`home_screen_background.jpg`) + ')',
      }"
    >
      <header
        data-w-id="fc9fb60a-4d96-8715-6a69-2f4c47ac9091"
        style="opacity: 0"
        class="oc-header"
      >
        <img
          :src="getImgUrl(`otium-circle.png`)"
          sizes="161.453125px"
          alt="otium_circle_brand"
          class="oc-brand"
        />

        <div class="oc-nav-bar">
          <a href="#moods" class="oc-nav-item" style="margin-top: -2px"
            >partners</a
          >
          <div class="oc-nav-divider"></div>
          <a href="#team" class="oc-nav-item">our team</a>
          <div class="oc-nav-divider"></div>
          <a href="#contactus" class="oc-nav-item">contact us</a>
        </div>
      </header>

      <div class="oc-wel-block">
        <h1
          data-w-id="5e53593a-c4a6-7ad7-b102-6ef050e1ef96"
          style="opacity: 0"
          class="oc-title-1"
        >
          UNIQUE <br />JAW DR<span class="oc-highlight-purple">O</span>PPING
          <br />EXCLUSIVE
        </h1>
        <div class="oc-hero-btns-holder">
          <a
            data-w-id="69ef79d4-859a-d1cd-6ed1-f40c98965417"
            href="https://play.google.com/store/apps/details?id=com.simpleinapps.android"
            onclick="gtag('event', 'click', {'event_category': 'app_link', 'event_label': 'google-play_top'});"
            target="_blank"
            style="opacity: 0"
            class="oc-app-d-btn"
          >
            <img
              :src="getImgUrl(`logo-android.svg`)"
              alt="logo-android"
              class="oc-btn-icon"
            />
            <div class="oc-btn-txt">Android</div>
          </a>
          <a
            data-w-id="8455d985-c2df-59ba-0554-0161243c1d4b"
            href="https://itunes.apple.com/gb/app/simpleinapps/id1358702776?mt=8"
            onclick="gtag('event', 'click', {'event_category': 'app_link', 'event_label': 'app-store_top'});"
            target="_blank"
            style="opacity: 0"
            class="oc-app-d-btn"
          >
            <img
              :src="getImgUrl(`logo-apple.svg`)"
              alt="logo-apple"
              class="oc-btn-icon"
            />
            <div class="oc-btn-txt">iOS</div>
          </a>
        </div>
      </div>
      <a
        href="#more"
        data-w-id="8829d32a-0c9f-0d04-d53e-d23b68fbb216"
        style="
          -webkit-transform: translate3d(0, -100px, 0) scale3d(1, 1, 1)
            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, -100px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, -100px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, -100px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        "
        class="oc-scroll-down-wrapper"
      >
        <lottie-player
          src="/lottie/lottie_scrolldown.json"
          background="transparent"
          speed="1"
          style="width: 100%; height: 100%"
          loop
          autoplay
        >
        </lottie-player>
      </a>
    </section>

    <section id="more" class="oc-row mock-1-block">
      <h1 data-w-id="01e0f32b-763e-eaf2-c046-b8bfdb165ce5" class="oc-title-2">
        J<span class="oc-highlight-orange">O</span>IN THE <br />MOVEMENT...
      </h1>
      <img
        id="mock-together"
        :src="getImgUrl(`Increase your customer base.png`)"
        sizes="(max-width: 767px) 90vw, (max-width: 991px) 80vw, 48vw"
        data-w-id="1581dc60-9bb1-cae8-a36e-3a0ee1134e00"
        alt="mockup-1"
        class="oc-mockup"
      />
      <h2 data-w-id="987d67a4-e7f1-ff3c-a588-aa30a546cce6" class="oc-c-h2">
        stronger together
      </h2>
      <p class="oc-c-p">
        Connect your business with other lifestyle businesses. Form
        partnerships. Network on our app and at community events.
      </p>
    </section>

    <section class="oc-row mock-2-block">
      <img
        id="mock-app"
        :src="getImgUrl(`Join our exclusive community.png`)"
        sizes="(max-width: 767px) 90vw, (max-width: 991px) 80vw, 48vw"
        data-w-id="34254da2-bbaf-6c6f-f84d-3570e15e4ce3"
        alt="mockup_2"
        class="oc-mockup"
      />
      <h2 data-w-id="34254da2-bbaf-6c6f-f84d-3570e15e4ce4" class="oc-c-h2 c-1">
        your app
      </h2>
      <p class="oc-c-p">
        Minimal effort for you: We design, implement and maintain it. You focus
        on engaging with your clients & other partners with our chat feature.
      </p>
    </section>

    <section class="oc-row mock-3-block">
      <img
        id="mock-future"
        :src="getImgUrl(`Connect with innovative businesses.png`)"
        sizes="(max-width: 767px) 90vw, (max-width: 991px) 80vw, 48vw"
        data-w-id="34254da2-bbaf-6c6f-f84d-3570e15e4ce3"
        alt="mockup_3"
        class="oc-mockup"
      />
      <h2 data-w-id="34254da2-bbaf-6c6f-f84d-3570e15e4ce4" class="oc-c-h2 c-1">
        our future
      </h2>
      <p class="oc-c-p">
        Help us to make the world a more fun place. We connect people with
        unique, exclusive and jaw dropping businesses.
      </p>
    </section>

    <section
      id="moods"
      data-w-id="9f97a162-7c8f-215e-ffdc-dd61c8e2dde6"
      class="oc-row r-mood"
      :style="{
        'background-image':
          'url(' +
          getImgUrl(`what_are_you_in_the_mood_for_background.jpg`) +
          ')',
      }"
    >
      <div style="opacity: 0" class="oc-what-mood">
        <h1
          data-w-id="ae6ebeb9-1084-43bf-1f36-951c19509812"
          style="opacity: 0"
          class="oc-title-1 m r-m"
        >
          WHAT
        </h1>
        <h1
          data-w-id="a710ca6b-d719-7de7-cd02-a0bff0e13adf"
          style="opacity: 0"
          class="oc-title-1 m r-m"
        >
          ARE
        </h1>
        <h1
          data-w-id="dad85300-1339-76a5-f56e-27dcaa445739"
          style="opacity: 0"
          class="oc-title-1 m r-m"
        >
          YOU
        </h1>
        <h1
          data-w-id="103e724a-07f8-9b59-54b0-24784375f25f"
          style="opacity: 0"
          class="oc-title-1 m r-m"
        >
          IN
        </h1>
        <h1
          data-w-id="781c7ea1-3211-5f0e-78fc-7b9dea56049e"
          style="opacity: 0"
          class="oc-title-1 m r-m"
        >
          THE
        </h1>
        <h1
          data-w-id="81b00097-2208-07a6-ebc1-8963fc1fae86"
          style="opacity: 0"
          class="oc-title-1 m r-m"
        >
          M<span class="oc-highlight-purple">O</span>OD
        </h1>
        <h1
          data-w-id="e2726c86-6cb2-9893-a713-65be862796b4"
          style="opacity: 0"
          class="oc-title-1 m r-m"
        >
          FOR?
        </h1>
      </div>
      <div class="oc-explore-wrapper">
        <h1
          style="
            -webkit-transform: translate3d(0, 283px, 0) scale3d(1, 1, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 283px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 283px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 283px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            opacity: 0;
          "
          class="oc-title-1 explore"
        >
          EXPLORE
        </h1>

        <div
          data-w-id="ed7fd970-0d93-603f-1592-a162d6dcbfeb"
          style="opacity: 0"
          class="oc-moods-blocks"
        >
          <div
            id="wine-and-dine"
            class="oc-mood"
            :style="{
              'background-image': 'url(' + getImgUrl(`wine_&_dine.jpg`) + ')',
            }"
          >
            <div
              class="oc-mood-overlay"
              onclick="gtag('event', 'click', {'event_category': 'mood_link', 'event_label': 'wine-and-dine'});"
              @click="popup('wine and dine')"
            >
              <div class="oc-mood-txt">wine and dine</div>
            </div>
          </div>
          <div
            id="cars-planes-yachts"
            class="oc-mood"
            :style="{
              'background-image':
                'url(' + getImgUrl(`cars_planes_yachts.jpg`) + ')',
            }"
          >
            <div
              class="oc-mood-overlay"
              onclick="gtag('event', 'click', {'event_category': 'mood_link', 'event_label': 'cars-planes-yachts'});"
              @click="popup('cars. planes. yachts.')"
            >
              <div class="oc-mood-txt">cars. planes.<br />yachts.</div>
            </div>
          </div>
          <div
            id="unique-experiences-and-retreats"
            class="oc-mood"
            :style="{
              'background-image':
                'url(' + getImgUrl(`unique_experiences_&_retreat.jpg`) + ')',
            }"
          >
            <div
              class="oc-mood-overlay"
              onclick="gtag('event', 'click', {'event_category': 'mood_link', 'event_label': 'unique-experiences-and-retreats'});"
              @click="popup('unique experiences and retreats')"
            >
              <div class="oc-mood-txt">
                unique experiences<br />and retreats
              </div>
            </div>
          </div>
          <div
            id="out-of-the-box"
            class="oc-mood"
            :style="{
              'background-image':
                'url(' + getImgUrl(`out_of_the_box.jpg`) + ')',
            }"
          >
            <div
              class="oc-mood-overlay"
              onclick="gtag('event', 'click', {'event_category': 'mood_link', 'event_label': 'out-of-the-box'});"
              @click="popup('out of the box')"
            >
              <div class="oc-mood-txt">out of the box</div>
            </div>
          </div>
        </div>
      </div>

      <transition name="fade">
        <div v-show="pop" id="popup1" class="oc-overlay">
          <div id="popup" class="oc-popup">
            <div class="top">
              <div class="back-title">
                <img
                  v-show="isPartner"
                  :src="getImgUrl(`ios-arrow-back.svg`)"
                  alt="back"
                  class="oc-arrow-back"
                  @click="unSelectPartner"
                />
                <h3>{{ popTitle }}</h3>
              </div>
              <a class="close" @click="close">&times;</a>
            </div>

            <div class="content">
              <div
                v-for="partner in partners"
                v-show="partner.category === selectedCategory"
                :key="partner.logo"
                style="width: auto"
              >
                <div class="oc-about-partner-block">
                  <div class="top">
                    <img
                      :src="getImgUrl(partner.logo)"
                      :alt="partner.logo"
                      class="oc-partner"
                    />
                  </div>

                  <div class="body">
                    <div
                      class="oc-partner-cover"
                      :style="{
                        'background-image':
                          'url(' + getImgUrl(partner.cover) + ')',
                      }"
                    ></div>
                    <p class="oc-partner-txt">
                      {{ partner.about }}
                    </p>
                    <a
                      v-if="partner.visitLink !== ''"
                      :href="partner.visitLink"
                      target="_blank"
                      class="oc-git-btn visit"
                    >
                      <div class="oc-btn-txt visit-txt">visit</div>
                    </a>
                  </div>
                </div>

                <div class="oc-popup-divider" />
              </div>
            </div>

            <transition name="fade">
              <div
                v-if="popScrollIndicator"
                class="oc-popup-scroll-indicator-wrapper"
              >
                <a class="oc-scroll-down-wrapper sm">
                  <lottie-player
                    src="/lottie/lottie_scrolldown.json"
                    background="transparent"
                    speed="1"
                    style="width: 100%; height: 100%"
                    loop
                    autoplay
                  >
                  </lottie-player>
                </a>
              </div>
            </transition>
          </div>
        </div>
      </transition>
    </section>

    <section id="team" class="oc-row our-team">
      <div class="oc-team-top">
        <h1 class="oc-title-1 ot-txt">
          MEET <br /><span class="oc-highlight-orange">O</span>UR TEAM
        </h1>
        <img
          :src="getImgUrl(`otium-circle.png`)"
          sizes="161.453125px"
          alt="otium_circle_brand"
          class="oc-brand"
        />
      </div>

      <v-carousel
        class="oc-team-carousel-parent"
        height="auto"
        :hide-delimiter-background="true"
        :show-arrows="false"
        :light="true"
        :interval="22000"
      >
        <v-carousel-item>
          <div
            data-w-id="850b7ba4-f8e5-abf4-1c72-aca09b09a139"
            class="oc-team-carousel-slide"
          >
            <div
              class="oc-member-cover"
              :style="{
                'background-image': 'url(' + getImgUrl(`teo.jpg`) + ')',
              }"
              importance="high"
            >
              <div
                data-w-id="beb40cdc-ad2f-9b04-39d9-2e9126942720"
                class="oc-m-foreground"
              >
                <h3>Teodor Toshkin</h3>
                <div class="role-t">Customer and Community Lead</div>
                <p class="info-t">teo@otiumcircle.com</p>
                <a
                  href="mailto:teo@otiumcircle.com?subject=Hi Otuim Circle!&body=Hi Teo %0D%0A %0D%0A %0D%0A"
                  onclick="gtag('event', 'click', {'event_category': 'email_link', 'event_label': 'teo'});"
                  class="info-t m"
                >
                  Email
                </a>
              </div>
            </div>
            <div
              class="oc-member-cover"
              :style="{
                'background-image': 'url(' + getImgUrl(`pascal.jpg`) + ')',
              }"
              importance="high"
            >
              <div
                data-w-id="75d45744-747f-f588-cd82-cad661b75adf"
                class="oc-m-foreground"
              >
                <h3>Pascal Pieper</h3>
                <div class="role-t">Head of Customers</div>
                <p class="info-t">pascal@otiumcircle.com</p>
                <a
                  href="mailto:pascal@otiumcircle.com?subject=Hi Otuim Circle!&body=Hi Pascal %0D%0A %0D%0A %0D%0A"
                  onclick="gtag('event', 'click', {'event_category': 'email_link', 'event_label': 'pascal'});"
                  class="info-t m"
                >
                  Email
                </a>
              </div>
            </div>
            <div
              class="oc-member-cover"
              :style="{
                'background-image': 'url(' + getImgUrl(`z.jpg`) + ')',
              }"
              importance="high"
            >
              <div class="oc-m-foreground">
                <h3>Lachezar Stamatov</h3>
                <div class="role-t">Design Lead</div>
              </div>
            </div>
          </div>
        </v-carousel-item>

        <v-carousel-item>
          <div
            data-w-id="850b7ba4-f8e5-abf4-1c72-aca09b09a139"
            class="oc-team-carousel-slide"
          >
            <div
              class="oc-member-cover"
              :style="{
                'background-image': 'url(' + getImgUrl(`will.jpg`) + ')',
              }"
              importance="high"
              rel="prefetch"
            >
              <div
                data-w-id="75d45744-747f-f588-cd82-cad661b75adf"
                class="oc-m-foreground"
              >
                <h3>William Hornsby</h3>
                <div class="role-t">Automation Lead</div>
              </div>
            </div>
            <div
              class="oc-member-cover"
              :style="{
                'background-image': 'url(' + getImgUrl(`joseph.jpg`) + ')',
              }"
              importance="high"
              rel="prefetch"
            >
              <div
                data-w-id="04b105ad-dfa5-0499-ba39-6564cfe0ea4a"
                class="oc-m-foreground"
              >
                <h3>Joseph Dalughut</h3>
                <div class="role-t">App Developer Lead</div>
              </div>
            </div>
            <div
              class="oc-member-cover"
              :style="{
                'background-image': 'url(' + getImgUrl(`stuard.jpg`) + ')',
              }"
              importance="high"
              rel="prefetch"
            >
              <div
                data-w-id="beb40cdc-ad2f-9b04-39d9-2e9126942720"
                class="oc-m-foreground"
              >
                <h3>Stuart Hodgson</h3>
                <div class="role-t">Head of Tech</div>
              </div>
            </div>
          </div>
        </v-carousel-item>
      </v-carousel>
    </section>

    <section
      id="contactus"
      data-w-id="4d9ee193-ca58-9f90-2120-df37a6d4a08b"
      class="oc-row footer"
      :style="{
        'background-image': 'url(' + getImgUrl(`contact_background.jpg`) + ')',
      }"
    >
      <div class="oc-footer-top">
        <h1 class="oc-title-1">
          DOWNL<span class="oc-highlight-purple">O</span>AD<br />THE APP
        </h1>
        <div class="oc-hero-btns-holder">
          <a
            data-w-id="d8a3db16-1b5a-d44f-4789-15ad61c704cd"
            href="https://play.google.com/store/apps/details?id=com.simpleinapps.android"
            onclick="gtag('event', 'click', {'event_category': 'app_link', 'event_label': 'google-play_bottom'});"
            target="_blank"
            class="oc-app-d-btn"
          >
            <img
              :src="getImgUrl(`logo-android.svg`)"
              alt="logo-android"
              class="oc-btn-icon"
            />
            <div class="oc-btn-txt">Android</div>
          </a>
          <a
            data-w-id="d8a3db16-1b5a-d44f-4789-15ad61c704d1"
            href="https://itunes.apple.com/gb/app/simpleinapps/id1358702776?mt=8"
            onclick="gtag('event', 'click', {'event_category': 'app_link', 'event_label': 'app-store_bottom'});"
            target="_blank"
            class="oc-app-d-btn"
          >
            <img
              :src="getImgUrl(`logo-apple.svg`)"
              alt="logo-apple"
              class="oc-btn-icon"
            />
            <div class="oc-btn-txt">iOS</div>
          </a>
        </div>
      </div>
      <div
        data-w-id="0288284f-8cd8-fad2-d664-01d6152dcc8a"
        style="opacity: 0"
        class="oc-footer-mid"
      >
        <h2 class="oc-c-h2 f-git">GET IN TOUCH</h2>
        <div class="oc-git-btn" @click="popMForm = true">
          <div class="oc-btn-txt">become a partner</div>
        </div>
        <div class="oc-social-wrapper">
          <a
            href="https://www.facebook.com/otiumcircle/"
            onclick="gtag('event', 'click', {'event_category': 'social-media_link', 'event_label': 'facebook'});"
            target="_blank"
            class="oc-social-btn"
          >
            <img
              :src="getImgUrl(`logo-facebook.svg`)"
              alt=""
              class="oc-btn-icon no-m"
            />
          </a>
          <a
            href="https://www.instagram.com/otiumcircle/"
            onclick="gtag('event', 'click', {'event_category': 'social-media_link', 'event_label': 'instagram'});"
            target="_blank"
            class="oc-social-btn"
          >
            <img
              :src="getImgUrl(`logo-instagram.svg`)"
              alt=""
              class="oc-btn-icon no-m"
            />
          </a>
        </div>
        <div class="oc-contact-card w-form">
          <div
            class="oc-map"
            :style="{
              'background-image': 'url(' + getImgUrl(`map.png`) + ')',
            }"
          ></div>
          <form
            id="email-form"
            name="email-form"
            :action="mailTo(cName, cMessage)"
            method="post"
            onclick="gtag('event', 'click', {'event_category': 'email_link', 'event_label': 'sayhi'});"
            data-name="Email Form"
            class="oc-form"
          >
            <img
              :src="getImgUrl(`otium-circle.png`)"
              sizes="(max-width: 479px) 81vw, 240px"
              alt=""
              class="oc-form-brand"
            />
            <div class="oc-form-el-wrapper">
              <div class="oc-field-wrapper">
                <input
                  id="name"
                  v-model="cName"
                  placeholder="name"
                  type="text"
                  class="oc-text-field w-input"
                  maxlength="256"
                  name="name"
                  data-name="Name"
                />
              </div>
              <div class="oc-field-wrapper message">
                <textarea
                  id="message"
                  v-model="cMessage"
                  placeholder="message"
                  maxlength="5000"
                  name="message"
                  class="oc-textarea w-input"
                ></textarea>
              </div>
              <a
                :href="hrefMailTo(cName, cMessage)"
                onclick="gtag('event', 'click', {'event_category': 'email_send', 'event_label': 'email'});"
                class="oc-git-btn d"
              >
                <div class="oc-btn-txt m">send</div>
              </a>
            </div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>

        <transition name="fade">
          <div v-show="popMForm" class="oc-contact-card-m">
            <a class="oc-mf-close" @click="popMForm = false">&times;</a>
            <img
              :src="getImgUrl(`otium-circle.png`)"
              sizes="(max-width: 479px) 81vw, 240px"
              alt=""
              class="oc-form-brand m"
            />
            <div class="oc-contact-card m w-form">
              <form
                id="email-form"
                name="email-form"
                :action="mailTo(cName, cMessage)"
                method="post"
                data-name="Email Form"
                class="oc-form m"
              >
                <input
                  id="name"
                  v-model="cName"
                  type="text"
                  class="oc-text-field m w-input"
                  maxlength="256"
                  name="name"
                  data-name="Name"
                  placeholder="name"
                />
                <textarea
                  id="message"
                  v-model="cMessage"
                  placeholder="message"
                  maxlength="5000"
                  name="message"
                  class="oc-textarea m w-input"
                ></textarea>
              </form>
              <a
                :href="hrefMailTo(cName, cMessage)"
                class="oc-git-btn m"
                onclick="gtag('event', 'click', {'event_category': 'email_send', 'event_label': 'email'});"
                @click="popMForm = false"
              >
                <div class="oc-btn-txt m">send</div>
              </a>
            </div>
          </div>
        </transition>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pop: false,
      popMForm: false,
      popScrollIndicator: false,
      isPartner: false,
      selectedPartner: {},
      selectedCategory: 0,
      cName: '',
      cMessage: '',
      popTitle: '',
      /**
       * Category, Logo, Logo styling, Cover and About
       * are needed within the partners array.
       * Logo/Cover are image names plus extension. (Note: it's case sensitive)
       * Logo styling requires one attribute (width/height) to be auto, else it stretches the image.
       * Notice category grouping, all category ( 1 ) are first, then ( 2 ), then ( 3 )...
       */
      partners: [
        {
          category: 1,
          logo: 'nm_logo.png',
          cover: 'nm.jpg',
          visitLink: 'https://naturalchefmallorca.com/',
          about:
            'We are a Private Chef Service focused on sustainability, local production and pursuit of the highest possible service quality. We create healthy, tasty and delicate food that observes the established traditions of Italian cooking but breaks the rules a little.',
        },
        {
          category: 1,
          logo: 'd_aincourt_logo.png',
          cover: 'daincourt.jpg',
          visitLink: 'http://www.daincourt.com/uk',
          about:
            'Established in 1848, the distillery is located in the heart of the Cognac region. The D’AINCOURT Cognacs are sourced exclusively from Grande Champagne: premier Cru of Cognac, where the finest eaux-de-vie come from.',
        },
        {
          category: 1,
          logo: 'chapter7_logo.png',
          cover: 'Chapter-7.jpg',
          visitLink: 'https://www.chapter7whisky.com/',
          about:
            'We started off by bottling single casks from Scotland’s lesser known distilleries. Malts that are backbones of famous blends but known to a few. Chapter 7 is an independent bottler’s brand that we created in 2014 with passion and curiosity to explore whisky.',
        },
        {
          category: 1,
          logo: 'coopers_gold_logo.png',
          cover: 'coopers-gold.jpg',
          visitLink: '', // n/a Note: value must be empty string to toggle visit button visibilty.
          about:
            'We are a small business specialising in unique bespoke whiskies. We look to bottle single cask unusual whiskies that do not exist anywhere else.',
        },
        {
          category: 2,
          logo: 'D2P2.png',
          cover: 'd2p.jpg',
          visitLink: 'https://www.d2p.lu/',
          about:
            'Rent the most luxurious track cars and speed across mythical European tracks.',
        },
        {
          category: 2,
          logo: 'LeMansCoupesBlackLogo.jpg',
          cover: 'spfmk11.jpg',
          visitLink: 'https://lemanscoupes.com/ ',
          about:
            'We are passionate about keeping road & racing history alive. Le Mans Coupes is the official sole agent for the iconic superformance and hi-tech automotive range of cars in the UK and Ireland.',
        },
        {
          category: 2,
          logo: 'super_car_exp_logo.png',
          cover: 'supercars-r.jpg',
          visitLink: 'https://www.supercar-experiences.ch/en/',
          about:
            'A driving experience on a 5-star level. We use our wide network and know how to offer you unforgettable sports-car experiences in vehicles such as Ferrari, Lamborghini, Maserati and more on the most thrilling and most demanding roads in Switzerland and Europe.',
        },
        {
          category: 2,
          logo: 'airx_logo.png',
          cover: 'airx.jpg',
          visitLink: 'https://www.airx.aero/',
          about:
            'The most diversified airline in the world. Founded in 2011, AirX is one of the largest private jet operators in Europe. Our varied fleet allows us to offer a wide-range of bespoke services to suit your every need, at any time.',
        },
        {
          category: 2,
          logo: 'club_gt_logo.png',
          cover: 'gt_events.jpg',
          visitLink: 'http://www.clubgtevents.com/',
          about:
            'Club GT Events matches your passion for Supercars with our passion for delivering exclusive and extraordinary European driving tours. Our expert team have spent almost a decade assembling high-octane events, leading small groups of Supercar owners through some of Europe’s most breath-taking scenery.',
        },
        {
          category: 3,
          logo: 'away_from_ordinary_logo.png',
          cover: 'awayfromtheordinary.jpg',
          visitLink: 'https://awayfromtheordinary.com/',
          about:
            'Bespoke luxury travel in Scotland. We plan unique vacations based on your personal tastes. Creating a custom-made itinerary and booking exclusive hotels, guides, experiences and restaurants on your behalf.',
        },
        {
          category: 3,
          logo: 'yoga_logo.png',
          cover: 'joga.jpg',
          visitLink: 'http://www.yogarosaretreats.com/',
          about:
            'Holistic yoga retreat - a combination of yoga asana flow, pranayama meditation and quiet reflection. Providing accommodation, meals and a variety of therapeutic treatments in the beautiful Ibiza.',
        },
        {
          category: 3,
          logo: 'alesta_logo.png',
          cover: 'alesta.jpg',
          visitLink: 'https://www.alestaibiza.com/',
          about:
            'Experience Ibiza to the fullest with ALESTA. We focus on a collection of 15 villas online and 5 villas in a Private Collection. We provide daily assistance for you from a panel of selected partners: Chef for a dinner at home, class of yoga, plan your event and more.',
        },
        {
          category: 3,
          logo: 'clos_vieux_rochers_logo.png',
          cover: 'clos-vieux.jpg',
          visitLink: 'https://closvieuxrochers.com/',
          about:
            'Accommodation in the heart of France’s Bordeaux wine region. Taste our Castillion Cotes de Bordeaux wine made with traditional methods for the modern drinker. Sleep it all off and dream away in our rustic gites or cottages.',
        },
        {
          category: 3,
          logo: 'maera_villas_logo.png',
          cover: 'maerra-villas.jpg',
          visitLink: 'https://maeravillas.com/',
          about:
            'A wide range of luxury villas in Mykonos, Greece. We open our doors to all guests and our highly specialized concierge service ensure you get everything you want andneed to make your stay truly memorable. We also deliver top-quality experiences to our guests instead of just a long list of run-of-the-mill activities.',
        },
        {
          category: 3,
          logo: 'beachouse_logo.png',
          cover: 'beachhouse.jpg',
          visitLink: 'https://www.beachouseibiza.com/',
          about:
            'Whether you have come to be nourished with healthy Mediterranean cuisine, to sleep in the sunlight or dance in the ocean, at Beach House Ibiza you’ll find an ambient, elegant space for you to feast, rest and play beneath the blazing sun and stars.',
        },
        {
          category: 3,
          logo: 'geodiscovery_logo.png',
          cover: 'geo.jpg',
          visitLink: 'https://www.geodiscoverytours.com/',
          about:
            'There’s nothing better than trekking in the most beautiful and highest mountains in the world. For beginners, experienced trekkers, lovers of comfort or culture enthusiasts, we have the right tour just for you - in Nepal, Bhutan, Ladakh or in Kyrgyzstan.',
        },
        {
          category: 3,
          logo: 'flystation_logo.png',
          cover: 'flystation.jpg',
          visitLink: 'https://www.flystationmunich.com/de/',
          about:
            'Flying is everybody’s fantasy from childhood. Turn that dream into reality with FlyStation. Experience the feeling of freefall as you float on a smooth cushion of air. There’s no parachute, no jumping, and nothing attaching you to planet Earth-but absolutely safe!',
        },
        {
          category: 3,
          logo: 'yogologoGoldBlue.png',
          cover: 'P1010945.jpg',
          visitLink: 'https://www.eliteyogaescape.com/',
          about:
            'The exclusive yoga retreat, done your way. This is yoga, travel and culture in a spectacular 18th Century palazzo setting in Palermo, Sicily. We design the retreat to suit you, ensuring your time away is time well spent, creating your dream holiday itinerary.',
        },
        {
          category: 3,
          logo: 'buteralogo.jpeg',
          cover: 'buteracover.jpeg',
          visitLink: 'https://www.butera28.it/',
          about:
            'Unique, Sicilian-style accommodation in the heart of the historic centre of Palermo. Butera 28 Apartments is the ideal choice for holidaymakers who are looking for self-catering accommodation in perfectly equipped, air-conditioned rental apartments in Palermo, Sicily.',
        },
        {
          category: 3,
          logo: 'ECV_logo_web.jpg',
          cover: 'RearView.jpg',
          visitLink: 'https://www.englishcottagevacation.com/',
          about:
            'English Cottage Vacation is the cutting edge in vacationing. It is exclusive, it is private, it is unique and it is all about you. This is the real England and we will show you service like you have always dreamed of. It is not a hotel, guest house or bed and breakfast, it is the appanage of the future.',
        },
        {
          category: 3,
          logo: 'BCClogo.jpg',
          cover: 'DSC02775.jpg',
          visitLink: 'https://black-caviar-club.com/',
          about:
            'Black Caviar Club is a truly unique and interactive caviar tasting experience. The dining experience is prepared in front of your very eyes by the finest culinary experts “Chef Show”. The events are hosted in intimate groups, which allows you to enjoy and share the experience with others.',
        },
        {
          category: 3,
          logo: 'AriodanteLogoBlack-1.jpg',
          cover: 'PrivateVisittotheSistineChapelfamilly.jpg',
          visitLink: 'https://www.ariodantetravel.com/',
          about:
            'Ariodante is more than just a luxury travel concierge service. We offer handcrafted luxury experiences to the World’s most discerning individuals, indulging your curiosity and creating meaningful and unrivalled experiences within the art world.',
        },
        {
          category: 4,
          logo: 'kingsmann_logo.png',
          cover: 'kingsman.jpg',
          visitLink: 'http://kingsmanhouse.com/',
          about:
            'A tailor based in Munich offering made to measure apparel for men ranging from suits to shirts, shoes, chinos coats and more for the fashionable man. Passion for style and craftsmanship.',
        },
        {
          category: 4,
          logo: 'roameo_logo.png',
          cover: 'roameo.jpg',
          visitLink: 'https://www.roameomusic.com/',
          about:
            'New technology for a new concept in live entertainment. Shaking up the world of parties, we bring super-interactive roaming bands. Wirelessly amplified, for a full live sound across the venue. Charming, a little bit off-piste and fully on point.',
        },
        {
          category: 4,
          logo: 'SKD_logo-1.png',
          cover: 'Bahrain_KingCup_100drones_2.png',
          visitLink: 'https://www.skddrone.com/',
          about:
            'A novel approach and business model amongst drone sky show providers allows to offer both frequent and bespoke, small and large scale, indoor and outdoor drone sky shows. We combine expertise, forward thinking and creativity, bringing about experiences of the future.',
        },
        {
          category: 4,
          logo: 'Chronofactumlogo.jpg',
          cover: 'Chronofactum.jpg',
          visitLink: 'https://www.chronofactum.com/',
          about:
            'Chronofactum is the platform for European watch microbrands. These tantalising "hidden brands" are almost impossible to find and thus, remain concealed. Our brands are not mass produced articles nor owned by industrial concerns, they embody the individuality and the high standards which we personally demand for our most valued possessions.',
        },
        {
          category: 4,
          logo: 'taylorlogo.png',
          cover: 'taylorcover.jpg',
          visitLink: 'https://taylorandhart.com/int/',
          about:
            'As great advocates of the personal touch, at Taylor & Hart, we will ignite your imagination and bring your engagement ring ideas to life. Individually designed or customised by you, your personal design consultant will offer their guidance and insight along the way. As storytellers, it’s our very greatest pleasure to craft your ideas into reality in designs that capture how you feel and express what words alone simply can’t.',
        },
        {
          category: 4,
          logo: 'Satryna-Logo-black.png',
          cover: 'satrynacover.jpg',
          visitLink: 'https://satryna.mx/',
          about:
            'Satryna is a small batch artisanal tequila producer committed to making the smoothest tequila in the world. We are as passionate about our exceptional quality as we are about delivering ultra luxury with an edgy eclectic individuality. Extraordinary levels of attention to detail is bestowed on each and every hand crafted bottle ensuring a truly incomparable experience.',
        },
      ],
    }
  },
  methods: {
    popup(title) {
      this.popScrollIndicator = true
      this.popTitle = title

      switch (title) {
        case 'wine and dine':
          this.selectedCategory = 1
          break
        case 'cars. planes. yachts.':
          this.selectedCategory = 2
          break
        case 'unique experiences and retreats':
          this.selectedCategory = 3
          break
        case 'out of the box':
          this.selectedCategory = 4
          break
      }

      this.pop = true
      document.body.style.overflowY = 'hidden'
      document.body.style.height = '100%'
      location.href = '#moods'

      setTimeout(() => {
        this.popScrollIndicator = false
      }, 4000)
    },
    selectPartner(partner) {
      this.isPartner = true
      this.selectedPartner = partner
    },
    unSelectPartner() {
      this.isPartner = false
      this.selectedPartner = {}
    },
    close() {
      this.popTitle = ''
      this.selectedCategory = 0
      this.pop = false
      document.body.style.overflowY = 'auto'
      document.body.style.height = 'auto'
      location.href = '#moods' // Had to be repeated to stop the broser from going to the top of the page on cosing the popup.
      this.unSelectPartner()
    },
    mailTo(name, message) {
      return (
        'mailto:sayhi@otiumcircle.com?subject=Hi Otium Circle!&body=Hi Teo/Pascal' +
        '%0D%0A %0D%0A %0D%0A' +
        message +
        '%0D%0A %0D%0A %0D%0A %0D%0A' +
        name +
        '%0D%0A %0D%0A %0D%0A'
      )
    },
    hrefMailTo(name, message) {
      // this.popMForm = false
      return this.mailTo(name, message)
    },
    getImgUrl(pic) {
      return require('../assets/img/' + pic)
    },
  },
  head() {
    return {
      htmlAttrs: {
        'data-wf-page': '5dbb4191cdb0cf4a82b10067',
        'data-wf-site': '5dbb4191cdb0cf4042b10061',
      },
    }
  },
}
</script>
